#_preseed_V1
d-i preseed/include string common.cfg unattended.cfg
ldap-auth-config ldap-auth-config/ldapns/ldap-server string ldap://127.0.0.1/
d-i pkgsel/include string lliurex-meta-infantil
d-i apt-setup/local0/comment string Preschool Repository
d-i apt-setup/local0/repository string http://mirror/llx19 bionic main universe multiverse preschool
